{% block sidebar %}

<style>
    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-3 float-right ">
    <div class="card my-4">
        <img class="card-img-top"
            src="https://media-exp1.licdn.com/dms/image/D4E03AQFrkeAGwK4GHg/profile-displayphoto-shrink_800_800/0/1647647095527?e=1657152000&v=beta&t=Ho6QKm6E5rjBylEtQA5JNZshoSTKjiWEfePZl0t5wUo   "
            alt="Michael Belete" style="height: 15rem;">
        <div class="card-body text-center">
            <p class="card-text text-sm" style="font-size: 14px;">About
                Detail-oriented, organized and meticulous software Engineer. Works at fast pace to meet tight deadlines.
                Enthusiastic team player ready to contribute to company success.</p>
            <a href="https://www.linkedin.com/in/michael-belete-8600a3176" class="btn btn-primary">Contact Me</a>
        </div>
    </div>
</div>

{% endblock sidebar %}